@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto Condensed", sans-serif;
  color: #fff1e1;
}

h2 {
  font-family: "League Gothic", sans-serif;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 25px;
  color: #fff1e1;
}

.content-div {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.content-div:hover {
  background-color:brown;
}

.content-div:hover .fd-cl {
  opacity: 0.25;
}
.content-div:hover .fd-sh {
  opacity: 1;
}