@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto Condensed", sans-serif;
  color: #fff1e1;
}

h2 {
  font-family: "League Gothic", sans-serif;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 25px;
  color: #fff1e1;
}

.flip-card {
  background-color: transparent;
  width: 400px;
  height: 400px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 90%;
  height: 90%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 90%;
  height: 90%;
  backface-visibility: hidden;
  width: 100%;
}

.flip-card-back {
  transform: rotateY(180deg);
}

.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.content-div:hover {
  background-color: rgba(126, 213, 111, 0.801);
}

.content-div:hover .fd-cl {
  opacity: 0.25;
}
.content-div:hover .fd-sh {
  opacity: 1;
}